@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

/* shared styles */

.display-flex {
  display: flex;
}

.bg-header {
  background-color: rgba(255, 144, 14, 0.1);
}

.bg-primary {
  background-color: white;
}

.text-black {
  color: rgb(19, 19, 19);
}

.text-grey {
  color: rgb(66, 66, 66);
}

.text-light-grey {
  color: rgb(114, 114, 114);
}
.btn-color-orng{
background: rgb(255, 144, 14);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;

}
/* header */

/* header {
  padding: 3rem 15rem;
} */

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-left {
  font-size: 3rem;
  font-weight: 700;
}

.navbar {
            padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
}
.nav-right-links {
  font-size: 1rem;
  font-weight: 500;

  list-style: none;
  padding-left: 0px;
  gap: 40px;
}

.nav-item-links {
  text-decoration: none;
}

/* banner */
.banner{
    /* margin-top: 6rem; */
    /* flex-direction: column;
    justify-content: center; */
}
.banner-content{
    max-width: 862px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
    
}

.banner-title{
    margin-top: 5rem;
    font-size: 4rem;
font-weight: 700;
margin-bottom: 30px;
}
.banner-description{
    font-size: 1rem;
font-weight: 400;
margin-bottom: 30px;
}

.btn-primary{
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
font-weight: 600;
padding: 20px 25px;

}

.banner img{
    max-width: 100%;
    display: block;
    margin: 0 auto;

}

/* main body */
/* section 1 */
.feature-list{
    gap: 4.75rem;
    align-items: center;
    justify-content: center;
}

.feature-list-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2,1fr); */
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    border-radius: 8px;
}

.feature-list-right{
    max-width: 535px;
    /* margin-left: 6rem; */

}


.feature-title{
font-size: 3rem;
font-weight: 700;
margin-bottom: 3rem;
}

.feature-description{
    margin-bottom: 3rem;
}

.feature-word{
    color: rgb(255, 144, 14);
}

/* section3 */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   justify-items: center;
}


.fact-card{
    border: 1px solid rgb(255, 144, 14);
border-radius: 8px;
padding: 55px 35px;
max-width: 240px;
margin: 0 auto;
text-align: center;
}

.fact-number{
    font-size: 3rem;
font-weight: 600;
margin-top: 5px;
margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
font-weight: 600;
}


/* section4 */

.sponsor-info{
    max-width: 540px;
    text-align: center;

    margin: 0 auto;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;

    gap: 3rem;
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive for smaller/mobile device*/
@media  screen and (max-width: 576px) {
    .navbar{

        flex-direction: column;
        gap: 30px;
    }
    .nav-right-links{
        flex-direction: column;
        align-items: center;
    }

    .feature-list{
        padding: 0 2rem;
        flex-direction: column;
    }
    .feature-list-left, .fact-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
    .feature-list-right{
        margin: 0 auto;
    }

    .facts{
        text-align: center;
    }
}

/* medium device */

@media  (576px < width <= 996px) {
    .navbar{

        flex-direction: column;
        gap: 30px;
    }
    .nav-right-links{
        flex-direction: column;
        align-items: center;
    }

    .navbar, .banner{
        max-width: 90vw;
        margin: 0 auto;
    }

        .feature-list{
        padding: 0 2rem;
        flex-direction: column;
    }
    .feature-list-left, .fact-container, .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-list-right{
        margin: 0 auto;
    }

    .fact-container{
        gap: 2rem;
    }

    .facts{
        text-align: center;
    }
}

/* large device */
@media  (996px < width <=1440px) {
    .navbar, .banner, main{
        max-width: 90vw;
        margin: 0 auto;
    }
}